.terms-page {
    width: 100%;
    background: #050505;
    color: #fff;
}

.terms-hero {
    width: 100%;
    min-height: 520px;

    display: flex;
    align-items: center;

    background:
        radial-gradient(
            circle at 75% 30%,
            rgba(255, 49, 49, 0.12),
            transparent 35%
        ),
        #050505;
}

.terms-hero-content {
    width: 100%;
    max-width: 1200px;

    margin: 0 auto;
    padding: 110px 50px;
}

.terms-hero-content span {
    display: block;

    color: #ff3131;

    font-size: 13px;
    font-weight: 800;

    letter-spacing: 2px;

    margin-bottom: 20px;
}

.terms-hero-content h1 {
    margin: 0;

    font-size: clamp(55px, 7vw, 90px);
    line-height: .95;

    font-weight: 900;
}

.terms-hero-content h1 strong {
    color: #ff3131;
}

.terms-hero-content p {
    max-width: 650px;

    margin-top: 30px;

    color: #a9a9a9;

    font-size: 18px;
    line-height: 1.8;
}

.terms-content {
    width: 100%;
    padding: 0 0 110px;
}

.terms-container {
    width: 100%;
    max-width: 1000px;

    margin: auto;
    padding: 0 40px;
}

.terms-updated {
    margin: 0 0 55px;

    color: #666;

    font-size: 13px;
}

.terms-section {
    padding: 0 0 42px;
    margin-bottom: 42px;

    border-bottom: 1px solid rgba(255,255,255,.07);
}

.terms-section:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.terms-section h2 {
    margin: 0 0 18px;

    color: #fff;

    font-size: 25px;
    font-weight: 800;
}

.terms-section p {
    margin: 0 0 14px;

    color: #a9a9a9;

    font-size: 16px;
    line-height: 1.85;
}

.terms-section p:last-child {
    margin-bottom: 0;
}

@media (max-width: 650px) {

    .terms-hero-content {
        padding: 85px 25px;
    }

    .terms-container {
        padding: 0 25px;
    }

    .terms-hero-content h1 {
        font-size: 54px;
    }

    .terms-section h2 {
        font-size: 22px;
    }

    .terms-section p {
        font-size: 15px;
    }

}