.home-cards{
    width:100%;
    max-width:1600px;
    margin:auto;
    padding:70px 60px;

    display:grid;
    grid-template-columns:repeat(3,minmax(0,1fr));

    gap:24px;

    align-items:stretch;
}

.home-cards>* {
    height: 100%;
}

@media(max-width:1200px) {

    .home-cards {
        padding: 70px 38px;
        grid-template-columns: 1fr 1fr;
    }

}

@media(max-width:992px) {

    .home-cards {
        grid-template-columns: 1fr;
        
    }

}

@media(max-width:768px) {

    .home-cards {
        padding: 55px 24px;
    }

}

@media(max-width:480px) {

    .home-cards {
        padding: 55px 18px;
    }

}