.contact-form{

    width:90%;
    max-width:900px;

    margin:120px auto;
}

.contact-title{

    text-align:center;

    margin-bottom:60px;
}

.contact-title span{

    color:#ff3131;

    font-size:14px;

    font-weight:700;

    letter-spacing:2px;
}

.contact-title h2{

    color:#fff;

    font-size:48px;

    margin:18px 0;
}

.contact-title p{

    color:#bdbdbd;

    line-height:1.9;

    max-width:650px;

    margin:auto;
}

.contact-container{

    display:flex;

    flex-direction:column;

    gap:22px;
}

.input-group{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:22px;
}

.contact-container input,
.contact-container textarea{

    width:100%;

    background:#111;

    border:1px solid rgba(255,255,255,.08);

    border-radius:16px;

    padding:18px 22px;

    color:#fff;

    font-size:16px;

    outline:none;

    transition:.3s;
}

.contact-container textarea{

    resize:none;
}

.contact-container input:focus,
.contact-container textarea:focus{

    border-color:#ff3131;

    box-shadow:0 0 0 3px rgba(255,49,49,.15);
}

.contact-container input::placeholder,
.contact-container textarea::placeholder{

    color:#777;
}

.contact-container button{

    width:230px;
    height:58px;

    border:none;

    border-radius:14px;

    background:#ff3131;

    color:#fff;

    display:flex;
    justify-content:center;
    align-items:center;

    gap:10px;

    font-size:16px;

    font-weight:700;

    cursor:pointer;

    transition:.35s;
}

.contact-container button:hover{

    background:#ff5050;

    transform:translateY(-4px);

    box-shadow:0 15px 35px rgba(255,49,49,.35);
}

@media(max-width:768px){

    .input-group{

        grid-template-columns:1fr;
    }

    .contact-title h2{

        font-size:38px;
    }

    .contact-container button{

        width:100%;
    }

}