.product-grid{
    width:90%;
    max-width:1450px;
    margin:0 auto 80px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.product-placeholder{
    height:420px;
    border-radius:18px;
    background:#121212;
    border:1px solid #252525;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#666;
    font-size:22px;
    font-weight:600;
    transition:.3s;
}

.product-placeholder:hover{
    transform:translateY(-8px);
    border-color:#ff3131;
    box-shadow:0 15px 40px rgba(255,49,49,.18);
}

@media(max-width:1300px){

    .grid{
        grid-template-columns:repeat(3,1fr);
    }

}

@media(max-width:900px){

    .grid{
        grid-template-columns:repeat(2,1fr);
    }

}

@media(max-width:600px){

    .grid{
        grid-template-columns:1fr;
    }

}