.become-partner{

    width:90%;
    max-width:1450px;

    margin:120px auto;

    background:linear-gradient(
        135deg,
        #151515,
        #0d0d0d
    );

    border:1px solid rgba(255,255,255,.08);

    border-radius:28px;

    padding:90px 60px;

    text-align:center;

    position:relative;

    overflow:hidden;
}

.become-partner::before{

    content:"";

    position:absolute;

    width:450px;
    height:450px;

    background:rgba(255,49,49,.15);

    border-radius:50%;

    filter:blur(120px);

    top:-180px;
    right:-150px;
}

.partner-container{

    position:relative;
    z-index:2;

    max-width:800px;

    margin:auto;
}

.partner-tag{

    display:inline-block;

    color:#ff3131;

    font-size:14px;
    font-weight:700;

    letter-spacing:2px;

    margin-bottom:20px;
}

.partner-container h2{

    color:#fff;

    font-size:52px;
    font-weight:800;

    margin-bottom:25px;
}

.partner-container p{

    color:#bdbdbd;

    font-size:18px;

    line-height:1.9;

    margin-bottom:45px;
}

.partner-btn{

    width:240px;
    height:58px;

    border:none;
    border-radius:14px;

    background:#ff3131;

    color:#fff;

    font-size:17px;
    font-weight:700;

    display:inline-flex;
    justify-content:center;
    align-items:center;
    gap:10px;

    cursor:pointer;

    transition:.35s;
}

.partner-btn:hover{

    transform:translateY(-4px);

    box-shadow:0 15px 35px rgba(255,49,49,.35);
}

.partner-btn svg{

    transition:.3s;
}

.partner-btn:hover svg{

    transform:translateX(6px);
}

@media(max-width:768px){

    .become-partner{

        padding:70px 25px;
    }

    .partner-container h2{

        font-size:38px;
    }

    .partner-container p{

        font-size:16px;
    }

    .partner-btn{

        width:100%;
    }

}